main:
  params: [args]
  steps:
    - call_cloud_run:
        call: http.post
        args:
          url: "${cloud_run_url}/transfer"
          auth:
            type: OIDC
          body: $${args}
          timeout: 300
        result: response
    - return_result:
        return: $${response.body}
